@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.item {
  flex: 1 0 250px;
  margin: 10px;
}
